*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
settings.ini
Gemfile.lock
images/copied_from_nb/
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-09-20-labquizz.md
_posts/2022-09-22-jsweek5.md
_posts/2022-09-24-js.md